[submodule "site_scons/local"]
	path = site_scons/local
	url = git://github.com/dustyleary/scons-local.git
[submodule "googletest"]
	path = googletest
	url = https://github.com/dustyleary/googletest.git
