.scon*

*.log
*.orig
*.swp

# build outputs
*.[oa]
*.obj
*.lib
*.so
*.dll
obj/*
*.conf

# executables
bin/*
!bin/*.dll

# visual studio files
*.ncb
*.sln
*.suo
*.vcproj.*
*.[ip]db

# test results
tests/*.passed

# docs
docs/html

tags
*.tmp
